/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #ffff;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffff;
    padding: 40px;
    border-radius: 15px;
}

h2 {
    text-align: center;
    color: #007bff;
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffff;
    outline-color: #007bff
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
